/*TINY MCE*/
body#tinymce {padding: 8px; background: #fff; min-height: 100vh;}

/*Base*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
*{margin: 0; padding: 0; box-sizing: border-box;}
html{font-size: 62.5%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility;}
html[lang="en"]{opacity:0;}
html.wf-active,html.wf-inactive{opacity: 1; transition: opacity .4s ease-out;}
body{color: rgba(0,0,0,.8); background: #fff; font-family: 'Open Sans', sans-serif; font-size: 1.6rem; display: flex; justify-content: center;}
p{font-size: 1.6rem; margin: 0 0 16px 0; font-weight: 400; line-height: 1.6;}
p:last-of-type{margin: 0;}
a{color: #ef4538;}
ul{font-size: 1.6rem; padding: 0 0 22px 30px; font-weight: 400; line-height: 1.6; list-style: outside disc; overflow: hidden;}
ol{font-size: 1.6rem; padding: 0 0 22px 30px; font-weight:  400; line-height: 1.6; overflow: hidden;}
li{position: relative;}
h1{font-size: calc(2.5rem + 1.5vw); margin: 0 0 10px; line-height: 140%; font-weight: 400; display: block; width: 100%;}
h2{font-size: calc(2.0rem + 1vw); margin: 0 0 10px; line-height: 140%; font-weight: 300; display: block;  width: 100%;}
h3{font-size: calc(1.8rem + .8vw); margin: 0 0 10px; font-weight: 300; width: 100%;}
blockquote{width: 80%; max-width:700px; margin: 50px auto; font-style: italic; color: #555; padding: 1.2em 1.2em 1.2em 75px; border-left: 8px solid #ef4538; line-height: 1.6; position: relative; background: #eeeeee;}
blockquote::before{font-family:Arial; content:"\201C"; color:#ef4538; font-size:4em; position: absolute; left: 10px; top:-10px;}
img{max-width: 100%; height: auto; vertical-align: bottom; border: none;}


/*Formstack Colors*/
.fsBody .fsForm input[type=submit]{background: #ef4438 !important; color: #fff !important; padding: 1em 1.5em !important; border-radius: 0.25em !important;}
.fsBody .fsForm input[type=submit]:hover{background: #E22012 !important;}
.fsBody .fsForm .fsField:focus {border-color: #ef4438 !important; background: #fbfbfb !important; outline: none;}

/*Formstack*/
.fsPage {max-width: 500px;}
.fsBody * {font-family: inherit !important; font-size: inherit !important; color: inherit !important; line-height: inherit !important;}
.fsBody .fsForm .fsSection:not(:last-of-type) {border-bottom: 1px solid #ccc; padding-bottom: 2em; margin-bottom: 2em;}
.fsBody .fsForm .fsSectionHeader {background: transparent;}
.fsBody .fsForm .fsSectionHeading {font-size: 2.8rem !important; font-weight: 600;}
.fsBody .fsForm .fsCell {padding: 0 !important; margin: 2em 0 !important;}
.fsBody .fsForm .fsLabel {display: block; margin: 0.5em 0; line-height: 1 !important;}
.fsBody .fsForm .fsRequiredMarker {font-weight: 600; margin-left: 0.25em; font-size: 1.2rem !important; vertical-align: text-top; opacity: 0.5;}
.fsBody .fsForm .fsField, .fsBody .fsForm input, .fsBody .fsForm textarea, .fsBody .fsForm select {box-shadow: none; width: 100%; max-width: none !important; padding: 1rem !important; background: #fff; border: 1px solid; border-color: #dee2e6 !important; border-radius: 0.25em;}
.fsBody .fsForm textarea {resize: vertical;}
.fsBody .fsForm .fsSubFieldGroup {margin-top: 0.5em;}
.fsBody .fsForm .fsSubFieldGroup .fsSupporting {font-size: 1.4rem !important; margin-bottom: 0.5em; line-height: 1 !important;}
.fsBody .fsForm .fsSubField {display: flex; flex-flow: column-reverse; margin-top: 0.5em;}
.fsBody .fsForm .fsSupporting {font-size: 1.2rem !important; margin-top: 0.25em;}
.fsBody .fsForm .fsPagination {text-align: left;}
.fsBody .fsForm input[type=submit] {transition: 250ms ease-in-out; width: auto; border: none; font-size: inherit !important; -webkit-appearance: none; -moz-appearance: none; cursor: pointer;}
.fsBody .fsForm fieldset {margin: 2rem 0 0.25em; border: none;}
.fsBody .fsForm fieldset .fsField {width: auto; margin-right: 0.5em;}
.fsBody .fsForm .fsOptionLabel {display: flex; align-items: center; margin: 0.5em;}
.fsBody .fsForm .fieldset-content {margin-left: 0.5em;}
.fsBody .fsForm .fsCreditcardNumberField-icon {display: none;}
.fsBody .fsForm .fsFieldAddress2 {margin-top: 0.5em !important;}
.fsBody .fsForm table {width: 100%;}
.fsBody .fsForm table th, .fsBody .fsForm table .fsMatrixLabelRow.fsMatrixLabelRow {text-align: left;}
.fsBody .fsForm table td, .fsBody .fsForm table .fsMatrixLabel {text-align: center; padding: 0.25em 0; font-weight: inherit;}
.fsBody .fsForm .fsCell[fs-field-type="address"] .fsSubFieldGroup {display: flex; align-items: center; flex-flow: row wrap; margin: 0 -0.5em;}
.fsBody .fsForm .fsCell[fs-field-type="address"] .fsSubFieldGroup > div {flex: 1; margin: 0.5em; min-width: 150px;}
.fsBody .fsForm .fsCell[fs-field-type="datetime"] .fieldset-content, .fsBody .fsForm .fsCell[fs-field-type="datetime"] .always-ltr {display: flex; flex-flow: row wrap; width: 100%; margin: 0.5em 0 0;}
.fsBody .fsForm .fsCell[fs-field-type="datetime"] .fieldset-content > select, .fsBody .fsForm .fsCell[fs-field-type="datetime"] .always-ltr > select {flex: 1; min-width: 125px;}
.fsBody .fsForm .fsCell[fs-field-type="datetime"] .always-ltr span {display: none;}
.fsBody .fsForm .fsCell[fs-field-type="datetime"] .ui-datepicker-trigger {display: none;}
.fsBody .fsForm .fsError {width: 100%; margin: 1em 0; padding: 1em;}
.fsBody .fsForm .fsValidationError {background: none;}
.fsBody .fsForm .fsValidationError input {color: red !important; border: red 1px solid !important;}
.fsBody .fsForm .fsValidationError .fsLabel {padding-left: 0 !important; background-image: none !important;}
